<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339960123508-sbmp1fmnl0j3t7q0ol8336o1t1p80jbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339960123508-sbmp1fmnl0j3t7q0ol8336o1t1p80jbq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339960123508-0fe4l8e1mkqkmndis5vk5i8jth7qi632.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgsZe1uETTxfzlE0QpMsXVATbWS01qyxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>339960123508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-pruebarebeca</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pruebarebeca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339960123508:ios:84c38359de8a30afc60121</string>
</dict>
</plist>